$primary-color: #ffdd3c;
$primary-bg-color: #1c1c1f;
$secondary-bg-color: #1D1F2D;
$text-white: #FFF;

.ts-bg-primary {
  background: $primary-bg-color;
}

.ts-yellow-primary {
  background: $primary-color;
}

.ts-text-white {
  color: $text-white;
}
