:root {
  --font-family: "SF Pro Text", sans-serif;
  --second-family: "SF Pro", sans-serif;
  --third-family: "SF Pro Display", sans-serif;
  --font3: "New York", sans-serif;
  --font4: "Inter", sans-serif;
}
